body, hr {

/* ========================================================
   This pattern is downloaded from www.subtlepatterns.com
   If you need more, that's where to get'em.
   ======================================================== */
background: url('binding_dark.png');

color: #0dc704;
font-family: 'Roboto', sans-serif;
font-size: 17px;
}

nav {
text-align: center;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Rokkitt', serif;
}

h1  {
text-align: center;
}

h4 {
line-height: 0;
}

p, li {
line-height: 25px;
}

code {
background: #555;
border: 1px solid #666;
border-radius: 2px;
}

.container {
width: 80%;
margin: 0 auto;
margin-bottom: 50px;
}

.home-page-group {
padding-bottom: 5px;
font-size: 20px;
font-family: 'Abel', sans-serif;
}
