body, hr {
/* background: #000; */
background: white;
color: black;
}

nav {
text-align: center;
}

h1  {
text-align: center;
}

p, li {
line-height: 22px;
}

code {
background: #eee;
border: 1px solid #666;
border-radius: 2px;
}

.container {
width: 80%;
margin: 0 auto;
margin-bottom: 50px;
}

.home-page-group {
padding-bottom: 5px;
}
