body, hr {
    background: #859255;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}

main {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

a {
    text-decoration: none;
    border-bottom: 2px solid;
    font-size: 20px;
    color: #555;
    position: relative;
}

a:hover {
    border-bottom: 2px solid;
    color: #333;
}

a:after {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid #0C7900;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

a:hover::after {
    opacity: 1;
    width: 100%;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}

nav {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, serif;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 25px;
    margin-bottom: 5px
}

h4 {
    line-height: 0;
}

p, li {
    line-height: 25px;
}

li {
    list-style-type: square;
}

code {
    background: #999;
    border: 1px solid #777;
    border-radius: 6px;
}

h2 {
    border-bottom: 2px solid;
}

.home-page-group {
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.home-page-group h2 {
    border: 0;
}

::-moz-selection {
    background: steelblue;
}
::selection {
    background: steelblue;
}
